docktype
html
    head
        meta(charset='utf8')
        title Main
        meta(
        name='viewport'
        content='width=devise-width, install-scale=1.0')
        style
            include ../css/style.css
    body
        div(class='wrapper container')
            header
                img( src='../Images/head.png' alt='logo')
                form( name='search' action='#' method='get' class='form-inline form-search pull-right')
                    div( class='input-group')
                        label( class='sr-only' for='searchInput')
                        input( class='form-control' id='searchInput' type='text' name='search' placeholder='поиск')
                        div( class='input-group-btn')
                            button( type='submit' class='btn btn-primary') ОК
            nav( class='nav navbar-default')
                ul( class='nav navbar-nav')
                    li
                        a( href='/') Главная
                    li( class='active')
                        a( href='/AboutUs') О Нас
                    li
                        a( href='/new') Добавить тест
                    li
                        a( href='/Check/') Загрузить тест
            div(class='heading')
                h1 О нас
            div(class='row')
                aside(class='col-md-7')
                    ul( class='list-group submenu')
                        li(class='list-group-item ')
                            a( href='/Theory/') О теории тестов
                        li(class='list-group-item')
                            a( href='/ClassicTheory/') Классическая теория
                        li(class='list-group-item')
                            a( href='/ModernTheory/') Современная теория
                        li(class='list-group-item')
                            a( href='/Feedback/') Оставить отзыв

                aside(class='col-md-17')
                    div( class='jumbotron')
                        blockquot
                            p Современное состояние педагогического контроля в российской системе образования представляет собой контрастное сочетание старого с новым, субъективного с объективным, устного опроса по пятибалльной системе оценок с попытками внедрения контролирующих технологий. Тестовый метод на сегодняшний день быстро развивающееся направление на стыке педагогики, теории измерений, математического моделирования, математической статистики и автоматизации. Внедрение и развитие такого тестирования внесет существенный вклад в процесс реформирования отечественной системы образования и ее интеграции в мировую образовательную практику. Сегодня тестирование особенно широко и плодотворно используется в сфере образования для точной и массовой оценки знаний обучаемых и сопоставления их учебных достижений. Правильно построенный тест дает возможность максимально объективно оценить знания учащегося. Управление учебным процессом является одним из определяющих факторов повышения его эффективности. Кроме того, хороший тест должен четко дифференцировать прошедших его учащихся по уровню знаний. Тестирование учебных достижений является важной составной частью учебного процесса. В связи с этим актуальной задачей является не только правильное составление тестов, но и оценка их надежности, а также доступность к сервисов осуществляющим проверку тестов.
        footer

