docktype
html
    head
        meta(charset='utf8')
        title Main
        meta(
        name='viewport'
        content='width=devise-width, install-scale=1.0')
        style
            include ../css/style.css
    body
        div(class='wrapper container')
            header
                img( src='../Images/head.png' alt='logo')
                form( name='search' action='#' method='get' class='form-inline form-search pull-right')
                    div( class='input-group')
                        label( class='sr-only' for='searchInput')
                        input( class='form-control' id='searchInput' type='text' name='search' placeholder='поиск')
                        div( class='input-group-btn')
                            button( type='submit' class='btn btn-primary') ОК
            nav( class='nav navbar-default')
                ul( class='nav navbar-nav')
                    li
                        a( href='/') Главная
                    li
                        a( href='/AboutUs/') О Нас
                    li
                        a( href='/addTest/') Добавить тест
                    li( class='active')
                        a( href='/Check/') Загрузить тест

            div(class='heading')
                h1 Загрузить тест
            div(class='row')
                aside(class='col-md-7')
                    ul( class='list-group submenu')
                        li(class='list-group-item ')
                            a( href='/Theory') О теории тестов
                        li(class='list-group-item')
                            a( href='/ClassicTheory/') Классическая теория
                        li(class='list-group-item')
                            a( href='/ModernTheory/') Современная теория
                        li(class='list-group-item')
                            a( href='/Feedback/') Оставить отзыв

                aside(class='col-md-17')
                    p Ваша таблица должна быть оформлена как показано на рисунке
                    img( src='../Images/example.png' class=' img-thumbnail ' alt='logo')
                    form( action='http://localhost:9000/Excel' method='post' encType="multipart/form-data"
                            class='pull-left')
                        input(type='file' class='btn btn-default btn-lg active' name='sampleFile')
                        input(type='submit' class='btn btn-primary  btn-lg ' value='Загрузить')





