docktype
html
    head
        meta(charset='utf8')
        title Main
        meta(
        name='viewport'
        content='width=devise-width, install-scale=1.0')
        style
            include ../css/style.css
    body
        div(class='wrapper container')
            header
                img( src='../Images/head.png' alt='logo')
                form( name='search' action='#' method='get' class='form-inline form-search pull-right')
                    div( class='input-group')
                        label( class='sr-only' for='searchInput')
                        input( class='form-control' id='searchInput' type='text' name='search' placeholder='поиск')
                        div( class='input-group-btn')
                            button( type='submit' class='btn btn-primary') ОК
            nav( class='nav navbar-default')
                ul( class='nav navbar-nav')
                    li( class='active')
                        a( href='/') Главная
                    li
                        a( href='/AboutUs') О Нас
                    li
                        a( href='/new') Добавить тест

            div(class='heading')
                h1 Добавить тест
            div(class='row')
                aside(class='col-md-7')
                    ul( class='list-group submenu')
                        li(class='list-group-item ')
                            a( href='/Theory') О теории тестов
                        li(class='list-group-item active')
                            a( href='/ClassicTheory/') Классическая теория
                        li(class='list-group-item')
                            a( href='/ModernTheory/') Современная теория
                        li(class='list-group-item')
                            a( href='/Feedback/') Оставить отзыв

                aside(class='col-md-17')
                    div( class='jumbotron')
                        blockquot
                            p Основные положения и определения классической теории тестов:
                            P  1) Эмпирически полученный результат измерения (X) представляет собой сумму истинного результата измерения (T) и ошибки измерения (E):
                            P      X = T + E                      (1)
                            P Это уравнение называется основным уравнением классической теории тестов
                            P  2)  Истинный результат измерения можно выразить как математическое ожидание ∈(X):
                            P      T = ∈(X)                    (2)
                            P  3) Корреляция истинных и ошибочных компонентов по множеству испытуемых равна нулю, то есть
                            P    ρTE=0(3)
                            P    4) Ошибочные компоненты двух любых тестов не коррелируют:
                            P    ρTE(E1,E2)  = 0   					(4)
                            P    5) Ошибочные компоненты одного теста не коррелируют с истинными компонентами любого другого теста:
                            P    ρTE(E1,T2)  = 0           				         (5)
                            P    Кроме этого, основу классической теории тестов составляют два определения – параллельных и эквивалентных тестов.
                            P    Параллельные тесты - тесты которые должны соответствовать основным положениям классической теории тестов, истинные компоненты одного теста (T1) должны быть равны истинным компонентам другого теста (T2) в каждой выборке испытуемых, отвечающих на оба теста. Предполагается, что T1=T2 и, кроме того, равны дисперсии   s12 = s22.
                            P    Эквивалентные тесты - тесты которые должны соответствовать всем требованием параллельных тестов за исключением одного: истинные компоненты одного теста не обязательно должны равняться истинным компонентам другого параллельного теста, но отличаться они должны на одну и ту же константу С.
                            P    Условие эквивалентности двух тестов записывается в следующем виде:
                            P    T1 = T2+С12                    (6)
                            P    Где С12 - константа различий результатов первого и второго тестов.

footer

