docktype
html
    head
        meta(charset='utf8')
        title TestCheckerMainPage
        style
            include ../css/index.css
    body

        a( href="/new" class="button") Добавить тест

