docktype
html
    head
        meta(charset='utf8')
        title Main
        meta(
        name='viewport'
        content='width=devise-width, install-scale=1.0')
        style
            include ../css/style.css
    body
        div(class='wrapper container')
            header
                img( src='../Images/head.png' alt='logo')
                form( name='search' action='#' method='get' class='form-inline form-search pull-right')
                    div( class='input-group')
                        label( class='sr-only' for='searchInput')
                        input( class='form-control' id='searchInput' type='text' name='search' placeholder='поиск')
                        div( class='input-group-btn')
                            button( type='submit' class='btn btn-primary') ОК
            nav( class='nav navbar-default')
                ul( class='nav navbar-nav')
                    li( class='active')
                        a( href='/') Главная
                    li
                        a( href='/AboutUs') О Нас
                    li
                        a( href='/new') Добавить тест
                    li
                        a( href='/Check/') Загрузить тест
            div(class='heading')
                h1 Добавить тест
            div(class='row')
                aside(class='col-md-7')
                    ul( class='list-group submenu')
                        li(class='list-group-item ')
                            a( href='/Theory') О теории тестов
                        li(class='list-group-item ')
                            a( href='/ClassicTheory/') Классическая теория
                        li(class='list-group-item active')
                            a( href='/ModernTheory/') Современная теория
                        li(class='list-group-item')
                            a( href='/Feedback/') Оставить отзыв

                aside(class='col-md-17')
                    div( class='jumbotron')
                        blockquot
                            p В современной теории тестов разработчик предполагает, что ответы на задания теста могут быть объяснены путем анализа латентных характеристик, которых по количеству меньше, чем заданий теста. В действительности большинство приложений теории исходит из того, что единственная латентная характеристика объясняет ответы на задания теста. В основе этой теории лежит математическая модель того, как испытуемые с различными уровнями способностей по латентным характеристикам должны отвечать на задание.
                            p На основе такой информации можно сравнивать выполнение различных тестов испытуемыми, а также применять результаты анализа заданий к группам испытуемых, отличающимся по уровню способностей от тех выборок испытуемых, которые использовались при анализе заданий.

footer

