docktype
html
    head
        meta(charset='utf8')
        title Main
        meta(
        name='viewport'
        content='width=devise-width, install-scale=1.0')
        style
            include ../css/style.css
    body
        div(class='wrapper container')
            header
                img( src='../Images/head.png' alt='logo')
                form( name='search' action='#' method='get' class='form-inline form-search pull-right')
                    div( class='input-group')
                        label( class='sr-only' for='searchInput')
                        input( class='form-control' id='searchInput' type='text' name='search' placeholder='поиск')
                        div( class='input-group-btn')
                            button( type='submit' class='btn btn-primary') ОК
            nav( class='nav navbar-default')
                ul( class='nav navbar-nav')
                    li
                        a( href='/') Главная
                    li
                        a( href='/AboutUs/') О Нас
                    li( class='active')
                        a( href='/addTest/') Добавить тест
                    li
                        a( href='/Check/') Загрузить тест

            div(class='heading')
                h1 Добавить тест
            div(class='row')
                aside(class='col-md-7')
                    ul( class='list-group submenu')
                        li(class='list-group-item ')
                            a( href='/Theory') О теории тестов
                        li(class='list-group-item')
                            a( href='/ClassicTheory/') Классическая теория
                        li(class='list-group-item')
                            a( href='/ModernTheory/') Современная теория
                        li(class='list-group-item')
                            a( href='/Feedback/') Оставить отзыв

                aside(class='col-md-17')
                    p    точечные бисериальные коэффициенты корреляции:
                    p    1-е задание:0.627
                    p    2-е задание:0.73
                    p    3-е задание:0.173
                    p    4-е задание:0.707
                    p    5-е задание:0.896
                    p    6-е задание:0.5
                    p    7-е задание:0.542
                    p    8-е задание:0.361
                    p    Необходимо стремиться к тому, чтобы корреляция результатов по заданию и индивидуальными баллами была достаточно высокой,меньшей мере >0.5 Если какое-либо задание отрицательно коррелирует с индивидуальными баллами (< 0), то такое задание подлежит удалению.

                    p    Коэффициент альфа расчитанный по формуле Кьюдера-Ричардсона: 0.77
                    p    > 0.9-очень хорошее
                    p    > 0.8-хорошее
                    p    > 0.7-достаточное
                    p    > 0.6-сомнительное
                    p    > 0.5-плохое
                    p    < 0.5-недостаточное
                    p    дисперсия: 5
                    p        стандартное отклонение: 2.236
                    p Матрица Корреляции:
                        p    [ 1, 0.524, -0.089, 0.218, 0.655, 0.089, 0.327, 0.218 ],
                        p    [ 0.524, 1, 0.356, 0.218, 0.655, 0.089, 0.327, 0.218 ],
                        p    [ -0.089, 0.356, 1, 0, 0, -0.167, -0.102, -0.408 ],
                        p    [ 0.218, 0.218, 0, 1, 0.6, 0.408, 0.5, 0.333 ],
                        p    [ 0.655, 0.655, 0, 0.6, 1, 0.408, 0.5, 0.333 ],
                        p    [ 0.089, 0.089, -0.167, 0.408, 0.408, 1, 0.102, 0.408 ],
                        p    [ 0.327, 0.327, -0.102, 0.5, 0.5, 0.102, 1, -0.167 ],
                        p    [ 0.218, 0.218, -0.408, 0.333, 0.333, 0.408, -0.167, 1 ]
                        p    Корреляция заданий друг с другом не должна быть слишком высокой ≤0,3), иначе задания начинают дублировать друг друга. Если корреляция между двумя заданиями близка к 1, то одно из них лишнее.
                        p    Отрицательная корреляция задания с другими заданиями нежелательна. Если задание отрицательно коррелирует с большим количеством других заданий, то это означает, что исход ответов на него противоположен результатам по другим заданиям. По всей вероятности у такого задания либо имеются грубые ошибки в содержании и или оформлении, либо проверяются знания из другой предметной области

    footer

